section.home {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
  place-items: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 480px) {
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0;
  }

  & form.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 45rem;
    width: 100%;
    max-width: 40rem;
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    color: var(--text-primary);

    @media (max-width: 480px) {
      margin: 0 1rem;
    }

    & .logo {
      width: 100%;
      height: 6rem;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-bottom: 2rem;
      > img {
        // width: 100%;
        height: 100%;
      }
    }

    & .message {
      background-color: transparent;
      width: 100%;
      max-width: 25rem;
      border-radius: var(--border-radius);
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      > p {
        font-weight: bold;
        font-size: var(--font-sm);
        color: var(--warn);
      }
      & .error {
        > p {
          color: var(--error);
        }
      }
    }

    & input, & button {
      color: var(--text-primary);
      width: 100%;
      max-width: 25rem;
      height: 4rem;
      padding: 1rem;
      font-size: var(--font-sm);
      background-color: var(--bg-tertiary);
      border: none;
      border-radius: var(--border-radius);
      font-weight: 500;
    }

    & button {
      text-transform: uppercase;
      font-size: var(--font-sm);
      font-weight: bold;
      cursor: pointer;
      background-color: var(--bg-quaternary);
      color: var(--text-primary-alternative);
      margin-top: 2rem;
    }

    & p {
      font-size: var(--font-sm);
      > a {
        font-size: var(--font-sm);
        font-weight: bold;
      }
    }
  }
}
