<section class="home">
  <app-logo />
  <form class="login-form" (ngSubmit)="handleSubmit()">
    <div class="logo">
      <img src="assets/logo-stroke.png" alt="Logotipo">
    </div>


    <input id="username" name="username" placeholder="Nome de usuário" type="text" [(ngModel)]="loginForm.username"
    required />
    <input id="password" name="password" placeholder="senha" type="password" [(ngModel)]="loginForm.password"
    required />

    <p>senha esquecida? <a href="/auth/reset">recuperar acesso</a></p>

    <div *ngIf="message" class="message" [ngClass]="{'error': error}">
      <p>{{message}}</p>
    </div>
    <button type="submit">
      Acessar conta
    </button>
  </form>

</section>
