<div class="card-content-wrapper">
  <p *ngIf="title && content"><span>{{title}}</span> {{content}}</p>
  <div>
    <h2 *ngIf="masses && masses.length > 0">Missas</h2>
    <div class="celebrations" *ngIf="masses && masses.length > 0">
      <app-card-day-time *ngFor="let celebration of masses" [day]="celebration.day" [times]="celebration.times" />
    </div>
    <h2 *ngIf="confessions && confessions.length > 0">Confissões</h2>
    <div class="celebrations" *ngIf="confessions && confessions.length > 0">
      <app-card-day-time *ngFor="let celebration of confessions" [day]="celebration.day" [times]="celebration.times" />
    </div>
  </div>
</div>