<div class="card-content-wrapper">
  <p *ngIf="variant === 'patron'"><span>{{title}}</span> {{content}}</p>
  <div *ngIf="variant === 'celebration-time'">
    <h2>Missas</h2>
    <div class="celebrations">
      <app-card-day-time *ngFor="let celebration of masses" [day]="celebration.day"
        [time]="celebration.time" />
    </div>
    <h2>Confissões</h2>
    <div class="celebrations">
      <app-card-day-time *ngFor="let celebration of confessions" [day]="celebration.day"
        [time]="celebration.time" />
    </div>
  </div>
</div>
