<header>
  <div class="header-wrapper">
    <a href="/">
      <img src="/assets/logo-default.png" alt="Logo São Benedito" />
    </a>

    <div class="menu" [ngClass]="showMobileNavigation ? 'active' : ''" (click)="toggleShowMobileNavigation()">
      <div>
        <p>•••</p>
        <p>•</p>
      </div>
      <span>
        menu
      </span>
    </div>

    <nav [ngClass]="showMobileNavigation ? 'show-mobile-navigation': ''">
      <ul>
        <li>
          <a href="/">Inicio</a>
        </li>
        <li>
          <a href="/padroeiros">Padroeiros</a>
        </li>
        <li>
          <a href="/secretaria">Secretaria</a>
        </li>
      </ul>
    </nav>
  </div>
</header>