<section class="projetos" id="projetos">
  <h1>Projetos</h1>
  <span class="bg">Nossos</span>

  <div class="content">
    <section class="wrapper">
      <img src="/assets/build.svg" alt="Icone de obra" />
      <h2>Salão Paroquial da Matriz São Benedito</h2>
      <p>Com o objetivo de que a paróquia possua um ambiente próprio para encontros de formação e reuniões pastorais,
        esta sendo contruído o salão paroquial com previsão de conclusão até outubro de 2023. <br />Veja o andamento da
        obra.
      </p>

      <app-gallery [data]="salaoParoquialSlides" [showCount]="true" />
    </section>
  </div>
</section>
