<section class="projetos" id="projetos">
  <h1>Projetos</h1>
  <span class="bg">Nossos</span>

  <div class="content">
    <section class="wrapper">
      <img src="/assets/build.svg" alt="Icone de obra" />
      <h2>Salão Paroquial da Matriz São Benedito</h2>
      <p>Com o objetivo de que a paróquia possua um ambiente próprio para encontros de formação e reuniões pastorais,
        esta sendo contruído o salão paroquial com previsão de conclusão até outubro de 2023. <br />Veja o andamento da
        obra.
      </p>
      <div class="grid">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/juUt-rN5CVo" frameborder="0"
          allowfullscreen></iframe>
        <img
          src="https://media.istockphoto.com/id/1038044058/pt/foto/low-angle-view-of-skyscraper.webp?b=1&s=612x612&w=0&k=20&c=Dwko-UGEd1y7RqizzEb5CqCPCVXkX5dpMDo-Md97HN0="
          alt="foto da obra do salão paroquial" title="Foto da obra do salão paroquial" />
        <img src="https://cdn.pixabay.com/photo/2015/12/07/10/58/architect-1080592_640.jpg"
          alt="foto da obra do salão paroquial" title="Foto da obra do salão paroquial" />
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/YHNuhcGhDRg" frameborder="0"
          allowfullscreen></iframe>
        <img src="https://cdn.pixabay.com/photo/2016/02/01/21/15/excavator-1174428_640.jpg"
          alt="foto da obra do salão paroquial" title="Foto da obra do salão paroquial" />
      </div>
      <button (click)="openModal()">Ver tudo</button>
    </section>
  </div>
</section>

<app-modal *ngIf="showModal" (onClosed)="closeModal()">
  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/juUt-rN5CVo" frameborder="0"
    allowfullscreen></iframe>
  <button class="button left">↓</button>
  <button class="button right">↓</button>
</app-modal>
