section.projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-height: 40vh;
  z-index: 0;

  > span.bg, > h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-family: Nunito;
    color: var(--text-primary);
  }

  > span.bg {
    position: absolute;
    top: 5rem;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    color: rgba(50, 28, 17, 0.1);
    cursor: default;
  }

  > h1 {
    z-index: 10;
    font-size: var(--font-xl);
    margin-top: 3.5rem;
  }

  > .content {
    width: 100%;
    margin-top: 3.2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    > .wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1rem;
      margin-bottom: 0.5rem;
      color: var(--text-primary);
      > img {
        width: 5rem;
        height: 5rem;
        margin-bottom: 1rem;
      }
      > h2 {
        font-size: var(--font-lg);
        margin-bottom: 1rem;
        text-align: center;
      }

      > p {
        font-size: var(--font-md);
        text-align: center;
      }

      > .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0;
        margin-top: 1rem;
        border-radius: var(--border-radius);
        background-color: var(--bg-secondary);
        width: 100%;
        overflow: hidden;
        > :nth-child(1) {
          width: 100%;
          height: 30rem;
          grid-column: span 2;
        }
        > div > img, > video {
          object-fit: cover;
          max-width: 50%;
          height: 10rem;
          transition: 1s all;
          &:hover {
            filter: opacity(0.8);
            border-radius: var(--border-radius);
            cursor: pointer;
          }
        }
      }

      > button {
        border: none;
        padding: 1rem;
        font-size: var(--font-sm);
        font-weight: 600;
        background-color: transparent;
        color: var(--text-accent);
        cursor: pointer;
        text-transform: uppercase;
      }
    }
  }
}


.button {
  border:  none;
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  background-color: var(--bg-tertiary);
  border-radius: var(--border-radius);
  color: var(--text-primary);
  font-size: var(--font-lg);
  font-weight: 600;
  z-index: 1000000000001;
  position: absolute;
  text-transform: uppercase;
  // transform: translate(-50%, -50%);
  bottom: 10%;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  > iframe {
    width: 100%;
    height: 100%;
  }

  > a {
    width: 100%;
    height: 100%;
    > img {
      object-fit: contain;
      object-position: center center;
      width: auto;
      height: 100%;
      @media (min-width: 480px) {
        width: 100%;
        height: auto;
      }
      text-align: center;
    }
  }
  > .left {
    left: -0.5rem;
    transform: rotate(90deg);
    z-index: 10000000000002;
  }

  > .right {
    right: -0.5rem;
    transform: rotate(-90deg);
  }
}


