<section class="projetos" id="projetos">
  <h1>Projetos</h1>
  <span class="bg">Nossos</span>

  <div class="content">
    <section class="wrapper">
      <img src="/assets/build.svg" alt="Icone de obra" />
      <h2>Salão Paroquial da Matriz São Benedito</h2>
      <p>Com o objetivo de que a paróquia possua um ambiente próprio para encontros de formação e reuniões pastorais,
        esta sendo contruído o salão paroquial com previsão de conclusão até outubro de 2023. <br />Veja o andamento da
        obra.
      </p>
      <div class="grid">
        <div *ngFor="let item of salaoParoquial.slice(0, 5); let i = index">
          <img (click)="openModal(i)" [src]="item.thumbnail" [alt]="item.text" [title]="item.text" width="100%"
            height="100%" />
        </div>
      </div>
      <button (click)="openModal()">Ver tudo</button>
    </section>
  </div>
</section>

<app-modal *ngIf="showModal" (onClosed)="closeModal()">
  <div class="container">
    <iframe *ngIf="showVideo" width="100%" height="100%" [src]="videoUrl" frameborder="0" allowfullscreen></iframe>
    <a *ngIf="showImage" [href]="imageUrl" rel="noreferrer noopener" target="_blank">
      <img [src]="imageUrl" [alt]="currentImageAlt" width="100%" height="100%" />
    </a>
    <button class="button left" (click)="goToPrevious()">↓</button>
    <button class="button right" (click)="goToNext()">↓</button>
  </div>

</app-modal>
