section.nossa-historia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-height: 40vh;
  z-index: 0;

  > span.bg, > h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-family: Nunito;
    color: var(--text-primary);
  }

  > span.bg {
    position: absolute;
    top: 5rem;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    color: rgba(50, 28, 17, 0.1);
    cursor: default;
  }

  > h1 {
    z-index: 10;
    font-size: var(--font-xl);
    margin-top: 3.5rem;
  }

  > .content {
    width: 100%;
    margin-top: 3.2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    > .historia-wrapper {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 1rem;
      background-color: var(--bg-secondary);
      color: var(--text-primary);
      > h2 {
        font-size: var(--font-md);
        margin-bottom: 1rem;
      }

      > p {
        font-size: var(--font-sm);
      }
    }
  }
}
