section.home {
  display: flex;
  gap: 1rem;
  // padding: 2rem 0;
  place-items: center;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media (max-width: 480px) {
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0;
  }

  & .side {
    h1 {
      font-size: var(--font-lg);
      font-weight: bold;
      color: var(--text-primary);
    }

    > button {
      border: none;
      padding: 1rem;
      width: 100%;
      border-radius: var(--border-radius);
      background-color: var(--bg-quaternary);
      color: var(--text-primary-alternative);
      font-size: var(--font-md);
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}


.mobile-menu {
  display: flex;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 1rem;
  h1 {
    font-size: var(--font-xl);
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    // transform: rotate(90deg);
    background-color: var(--bg-tertiary);
    color: var(--text-primary);
    border-radius: 50%;
  }

  @media (min-width: 480px) {
    display: none;
  }
}
