section.horarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-height: 40vh;
  z-index: 0;

  > span.bg, > h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-family: Nunito;
    color: var(--text-primary);
  }

  > span.bg {
    position: absolute;
    top: 5rem;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    color: rgba(50, 28, 17, 0.1);
    cursor: default;
  }

  > h1 {
    z-index: 10;
    font-size: var(--font-xl);
    margin-top: 3.5rem;
  }

  > .content {
    width: 100%;
    margin-top: 3.2rem;
    margin-bottom: 2rem;
    > section {
      display: flex;
      flex-direction: column;
      > .header {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 1rem 0;
        > img {
          width: 5rem;
          height: 5rem;
        }

        > h2 {
          font-size: var(--font-lg);
          font-weight: 600;
        }
      }
      > h2, >p {
        padding: 0 1.5rem;
        margin-bottom: 1rem;
      }

      > h2 {
        font-size: var(--font-md);
      }

      > p {
        font-size: var(--font-sm);
        font-weight: 500;
        margin-bottom: 2rem;
      }
    }
  }
}
