<section class="horarios">
  <h1>Horários</h1>
  <span class="bg">Agenda</span>

  <div class="content">
    <section id="missa">
      <header class="header">
        <img src="assets/eucharist.svg" alt="Missa" />
        <h2>Santa Missa</h2>
      </header>
      <app-horario-card title="Horários de Missa" subtitle="Horários de missa na matriz São Benedito"
        photo="https://images.pexels.com/photos/17492038/pexels-photo-17492038/free-photo-of-altar-arcos-arcadas-arches.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        church="Matriz São Benedito" address="Rua Maria Abadia Mamede, 303" district="Planalto, Uberlândia-MG"
        [horarios]="horariosMissaSaoBenedito" />
      <app-horario-card title="Horários de Missa" subtitle="Horários de missa na comunidade São Joaquim & Sant'Ana"
        church="Comunidade São Joaquim & Sant'Ana"
        photo="https://images.pexels.com/photos/17489132/pexels-photo-17489132/free-photo-of-cristandade-igreja-capela-catedral.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1 Sant'Ana"
        address="Rua Rio Jaguaribe, 99" district="Mansour, Uberlândia-MG" [horarios]="horariosMissaSantana" />
    </section>
    <section id="confissao">
      <header class="header">
        <img src="assets/confession.svg" alt="Missa" />
        <h2>Confissões</h2>
      </header>
      <h2>O que é preciso para se confessar bem?</h2>
      <p>
        Um bom e honesto exame de consciência diante de Deus é o primeiro passo para a confissão verdadeira. Reflita
        sobre sua vida, tire um tempo para analisar o que você possa estar fazendo de errado e que não agrade a Deus.
        Seja sincero, reconheça suas atitudes falhas, saiba admitir e aceitar os pecados. Assim, o perdão será de todo
        coração.
        Se houver muita dificuldade ao fazer o exame de consciência, comece pelos 10 mandamentos da lei de Deus e os 5
        mandamentos da Igreja Católica.<br /><br />

        O arrependimento sincero por ter ofendido a Deus e ao próximo é o segundo passo depois do exame de consciência.
        É importante que haja arrependimento e que possamos entender que determinadas situações podem ser evitadas. Essa
        é a melhor forma de crescermos espiritualmente, melhorando a cada dia como seres humanos e filhos de
        Deus.<br /><br />

        Faça uma confissão objetiva e clara ao sacerdote. Ser direto e não ter receio com as palavras é um dos caminhos
        a serem seguidos durante a confissão. O padre estará ali para te ouvir e perdoar em nome de Jesus. Deus usa
        instrumentos humanos para redimir a humanidade: usou Maria para trazer o seu filho ao mundo, usou os apóstolos
        para transmitir seus ensinamentos às nações e, ainda hoje, usa as mãos dos bispos e sacerdotes para trazer a sua
        presença e o seu perdão aos fiéis que desejam.<br /><br />

        Cumprir a penitência é tão fundamental quanto todas as outras etapas que já falamos aqui. Aceite e faça a
        penitência que o padre indicar como necessária, visando os pecados cometidos. Para buscar o perdão, de fato, é
        necessário que se cumpra a penitência com muita fé e sabedoria, redimindo-se de todo mal.
        “A penitência é uma tarefa diária. O homem caminha sem cessar por este mundo cheio de poluição e torna-se
        praticamente impossível não se contaminar. Quando não de lama, ao menos de poeira”. (Santo Agostinho)
      </p>
      <app-horario-card title="Horários de Confissão" subtitle="Horários de confissão na matriz São Benedito"
        photo="https://images.pexels.com/photos/17492038/pexels-photo-17492038/free-photo-of-altar-arcos-arcadas-arches.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        church="Matriz São Benedito" address="Rua Maria Abadia Mamede, 303" district="Planalto, Uberlândia-MG"
        [horarios]="horariosConfissaoSaoBenedito" />
    </section>
  </div>
</section>