.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-width: 24rem;
  height: 12rem;
  background-color: var(--bg-secondary);
  border-radius: var(--border-radius);
  padding: 1rem 0;
  color: var(--text-primary);

  @media  (max-width: 496px) {
    width: 90vw;
  }

  > .icon-wrapper {
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
    > img {
      width: 5rem;
      height: 5rem;
    }
  }

  > h2 {
    font-size: var(--font-md);
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
  }

  > p {
    font-size: var(--font-sm);
    text-align: center;
  }
}
