header {
  width: 100%;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  > .header-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: var(--app-width);
    padding: 0.4rem 0;

    @media (max-width: 396px) {
      gap: 1rem;
      justify-content: center;
    }

    > nav {
     > ul {
      display: flex;
      list-style: none;
      gap: 0.8rem;
      > li {
        > a {
          font-size: var(--font-sm);
          font-weight: 500;
          text-transform: uppercase;
          color: var(--text-primary);
        }
      }
     }
    }
  }
}
