<aside class="sidebar">
  <app-logo />
  <div class="wrapper">
    <button (click)="handleButtonClick('avisos')">Avisos</button>
    <button (click)="handleButtonClick('clero')">Clero</button>
    <button (click)="handleButtonClick('horarios')">Horários</button>
    <button (click)="handleButtonClick('secretaria')">Secretaria</button>
    <button (click)="handleButtonClick('comunidades')">Comunidades</button>
    <button (click)="handleButtonClick('padroeiro')">Padroeiro</button>
    <button (click)="handleButtonClick('historia')">História</button>
    <button (click)="handleButtonClick('eventos')">Eventos</button>
    <button (click)="handleButtonClick('projetos')">Projetos</button>
    <button (click)="handleButtonClick('midias')">Arquivos e Mídias</button>
  </div>
  <button (click)="handleButtonClick('signOut')">Sair da Conta</button>
</aside>