<aside class="sidebar" [ngClass]="openOverlay ? 'active': ''">
  <app-logo (click)="handleNavigate('home')" />
  <div class="wrapper">
    <button (click)="handleNavigate('avisos')">Avisos</button>
    <button (click)="handleNavigate('clero')">Clero</button>
    <button (click)="handleNavigate('horarios')">Horários</button>
    <button (click)="handleNavigate('secretaria')">Secretaria</button>
    <button (click)="handleNavigate('comunidades')">Comunidades</button>
    <button (click)="handleNavigate('padroeiro')">Padroeiro</button>
    <button (click)="handleNavigate('historia')">História</button>
    <button (click)="handleNavigate('eventos')">Eventos</button>
    <button (click)="handleNavigate('projetos')">Projetos</button>
    <button (click)="handleNavigate('midias')">Arquivos e Mídias</button>
  </div>
  <button (click)="handleNavigate('signOut')">Sair da Conta</button>
</aside>
<div class="overlay" (click)="handleCloseOverlay()" [ngClass]="openOverlay ? 'active': ''"></div>