<div class="hero">
  <div class="bg"></div>
  <img class="bg" src="https://files.adiel.dev/paroquia-saobenedito.webp" alt="" />
  <img class="brand" src="assets/logo-stroke.png" alt="">
</div>
<section class="home">
  <app-home-card link="/comunidades" title="Comunidades" asset="assets/church.svg"
    description="Endereço e informações das comunidades" />
  <app-home-card link="/horarios#confissao" title="Confissão" asset="assets/confession.svg"
    description="Saiba quando os sacerdotes atendem" />
  <app-home-card link="/horarios#missa" title="Santa Missa" asset="assets/eucharist.svg"
    description="Horários das celebrações em cada comunidade" />
  <!-- <app-home-card link="/clero" title="Clero" asset="assets/priest.svg"
    description="Conheça os sacedortes e diáconos da paróquia" /> -->
  <app-home-card link="/secretaria" title="Secretaria" asset="assets/secretary.svg"
    description="Horários de funcionamento da administração" />
  <app-home-card link="/projetos" title="Projetos paroquiais" asset="assets/build.svg"
    description="Veja o andamento das obras das comunidades" />
</section>
