<section class="reset-password">
  <app-logo variant="large" />
  <form class="login-form" (ngSubmit)="handleSubmit()">
    <div class="logo">
      <img src="assets/logo-stroke.png" alt="Logotipo">
    </div>

    <h1>Recuperar o acesso a sua conta</h1>

    <input id="email" name="email" placeholder="Endereço de e-mail" type="email" [(ngModel)]="requestResetForm.email"
      (ngModelChange)="handleFormChange()" (focus)="handleFormChange()" required />

    <div *ngIf="message" class="message" [ngClass]="{'error': error}">
      <p>{{message}}</p>
    </div>
    <button type="submit" [disabled]="lockSubmit">
      Solicitar código
    </button>
  </form>

</section>