<section class="eventos" id="eventos">
  <h1>Eventos</h1>
  <span class="bg">Festas</span>

  <div class="content" *ngIf="events.length > 0">
    <section class="wrapper" *ngFor="let event of events">
      <img src="/assets/event.svg" alt="Icone de evento" />
      <h2>{{event.title}}</h2>
      <p>{{event.description}}</p>
      <br />
      <p>Local: {{event.community.name}}</p>
      <p>
        De
        {{event.initialDate.toLocaleDateString('pt-BR')}}
        à
        {{event.finalDate.toLocaleDateString('pt-BR')}}
      </p>

      <app-gallery [data]="event.medias" [showCount]="true" />
    </section>
  </div>

  <div class="content" *ngIf="events.length <= 0">
    <section class="wrapper">
      <img src="/assets/event.svg" alt="Icone de evento" />
      <h2>Eventos paroquiais</h2>
      <p>Aqui em breve serão listados todos os eventos das comunidades de nossa paróquia!</p>
      <br />
    </section>
  </div>
</section>
