<section class="comunidades">
  <h1>Comunidades</h1>
  <span class="bg">Igrejas</span>

  <div class="content">
    <div class="comunidade">
      <header class="header">
        <div class="side">
          <img src="https://files.adiel.dev/sb-fachada.webp" alt="Matriz São Benedito" height="280" />
          <h2>Matriz São Benedito</h2>
          <p>Atendimento Secretaria</p>
          <p>Segunda à Sexta: 13h ~ 17h</p>
          <a href="https://api.whatsapp.com/send?phone=553498667485" target="_blank" rel="no-referrer noopener">
            Whatsapp: (34) 9866-7485
          </a>
        </div>
        <div class="map-wrapper">
          <h3>Como Chegar?</h3>
          <p>Rua Maria Abadia Mamede, 303
            <span>Planalto, Uberlândia-MG</span>
          </p>

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.2012060308302!2d-48.31773223680937!3d-18.931877989897554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a4448012c7e27f%3A0x91aa3fcb4c2e6e00!2sIgreja%20S%C3%A3o%20Benedito!5e0!3m2!1sen!2sbr!4v1691067520004!5m2!1sen!2sbr"
            width="100%" height="320" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </header>
      <section class="historia-wrapper">
        <h2>História da paróquia São Benedito</h2>
        <p>
          A Paróquia São Benedito, localizada no território da forania de São João Evangelista, na diocese de
          Uberlândia, Minas Gerais, tem uma história marcante que remonta à sua criação em 28 de março de 2007.
          Inaugurada pelo então bispo diocesano Dom José Alberto Moura, CSS, marcando o início de uma nova comunidade
          católica na região. O primeiro pároco nomeado para liderar essa comunidade foi o padre Juvandir Mineiro de
          Araújo.
          <br />
          <br />

          A escolha de São Benedito como padroeiro, remete a sua grande importância e devoção na tradição
          católica. Desde a criação da paróquia, São Benedito tem sido um símbolo de fé e devoção para os paroquianos, e
          a festa
          em sua honra tem sido um evento significativo no calendário da paróquia. A tradicional festa de congado, em
          particular, é uma ocasião em que muitas pessoas da região do Triângulo Mineiro se reúnem para celebrar e
          homenagear o santo padroeiro. Essa festa não apenas fortalece os laços comunitários, mas também preserva e
          celebra a rica cultura religiosa e histórica da região.
          <br />
          <br />

          Recentemente, a Paróquia São Benedito tem enfrentado um notável aumento na demanda por espaços destinados a
          encontros e formações, decorrente da crescente participação nas atividades pastorais e religiosas. Em resposta
          a essa necessidade, o atual pároco, o padre Joaquim da Costa Porto, adotou medidas proativas para suprir essa
          carência.
          <br />
          <br />

          O primeiro passo foi a solicitação ao atual bispo, Dom Paulo Francisco Machado, para a nomeação de um vigário
          paroquial. Essa solicitação visava atender ao aumento das atividades e responsabilidades pastorais, permitindo
          uma melhor distribuição das tarefas e garantindo que as necessidades espirituais dos paroquianos pudessem ser
          atendidas de forma mais eficiente. A resposta positiva a essa solicitação resultou na nomeação do padre Marcos
          Borges Silva como vigário paroquial.
          <br />
          <br />

          Além disso, a paróquia também deu início à construção de um salão paroquial. Esse novo espaço está sendo
          projetado para oferecer uma infraestrutura adequada que atenda às diversas necessidades da comunidade. Sua
          função principal será possibilitar a realização de encontros, formações, reuniões e outras atividades
          pastorais, proporcionando um ambiente apropriado para o crescimento espiritual e aprofundamento da fé dos
          paroquianos.
          <br />
          <br />

          A previsão de conclusão das obras do salão paroquial para meados de outubro deste ano é um marco importante no
          desenvolvimento da Paróquia São Benedito. Essa data representa um prazo relativamente curto para a finalização
          da construção, o que evidencia a determinação e o empenho da comunidade paroquial, do padre Joaquim e de todos
          os envolvidos no projeto.
        </p>
      </section>
    </div>
    <div class="comunidade">
      <header class="header">
        <div class="side">
          <img src="https://files.adiel.dev/sa-fachada-02.webp" alt="Comunidade São Joaquim & Sant'Ana" height="280" />
          <h2>Comunidade São Joaquim & Sant'Ana</h2>
          <p>Atendimento Secretaria</p>
          <p>Segunda à Sexta: 13h ~ 17h</p>
          <a href="https://api.whatsapp.com/send?phone=553498667485" target="_blank" rel="no-referrer noopener">
            Whatsapp: (34) 9866-7485
          </a>
        </div>
        <div class="map-wrapper">
          <h3>Como Chegar?</h3>
          <p>Rua Rio Jaguaribe, 99
            <span>Mansour, Uberlândia-MG</span>
          </p>

          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2244.0377385041998!2d-48.33661532104367!3d-18.931109789957194!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94a4439931ba1c23%3A0x97eca2b40453f7a7!2sComunidade%20Sant&#39;Ana!5e0!3m2!1sen!2sbr!4v1691070848985!5m2!1sen!2sbr"
            width="100%" height="320" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </header>
      <section class="historia-wrapper">
        <h2>História da comunidade São Joaquim & Sant'Ana</h2>
        <p>
          Explicação sobre a origem e história da paróquia são benedito, bem como os parocos e diaconos que por ela
          passaram, motivação de sua criação, bispo que a elevou a “paróquia”. <br /><br />Explicação sobre a origem e
          história da paróquia são benedito, bem como os parocos e diaconos que por ela passaram, motivação de sua
          criação, bispo que a elevou a “paróquia”. Explicação sobre a origem e história da paróquia são benedito, bem
          como os parocos e diaconos que por ela passaram, motivação de sua criação, bispo que a elevou a “paróquia”.
          <br /><br />Explicação sobre a origem e história da paróquia são benedito, bem como os parocos e diaconos que
          por ela passaram, motivação de sua criação, bispo que a elevou a “paróquia”. Explicação sobre a origem e
          história da paróquia são benedito, bem como os parocos e diaconos que por ela passaram, motivação de sua
          criação, bispo que a elevou a “paróquia”. Explicação sobre a origem e história da paróquia são benedito, bem
          como os parocos e diaconos que por ela passaram, motivação de sua criação, bispo que a elevou a “paróquia”.
          <br /><br />Explicação sobre a origem e história da paróquia são benedito, bem como os parocos e diaconos que
          por ela passaram, motivação de sua criação, bispo que a elevou a “paróquia”. Explicação sobre a origem e
          história da paróquia são benedito, bem como os parocos e diaconos que por ela passaram, motivação de sua
          criação, bispo que a elevou a “paróquia”. Explicação sobre a origem e história da paróquia são benedito, bem
          como os parocos e diaconos que por ela passaram, motivação de sua criação, bispo que a elevou a “paróquia”.
          <br /><br />Explicação sobre a origem e história da paróquia são benedito, bem como os parocos e diaconos que
          por ela passaram, motivação de sua criação, bispo que a elevou a “paróquia”. Explicação sobre a origem e
          história da paróquia são benedito, bem como os parocos e diaconos que por ela passaram, motivação de sua
          criação, bispo que a elevou a “paróquia”. Explicação sobre a origem e história da paróquia são benedito, bem
          como os parocos e diaconos que por ela passaram, motivação de sua criação, bispo que a elevou a “paróquia”.
          Explicação sobre a origem e história da paróquia são benedito, bem como os parocos e diaconos que por ela
          passaram, motivação de sua criação, bispo que a elevou a “paróquia”.<br /><br />Explicação sobre a origem e
          história da paróquia são benedito, bem como os parocos e diaconos que por ela passaram, motivação de sua
          criação, bispo que a elevou a “paróquia”. Explicação sobre a origem e história da paróquia são benedito, bem
          como os parocos e diaconos que por ela passaram, motivação de sua criação, bispo que a elevou a “paróquia”.
          Explicação sobre a origem e história da paróquia são benedito, bem como os parocos e diaconos que por ela
          passaram, motivação de sua criação, bispo que a elevou a “paróquia”. Explicação sobre a origem e história da
          paróquia são benedito, bem como os parocos e diaconos que por ela passaram, motivação de sua criação, bispo
          que
          a elevou a “paróquia”. Explicação sobre a origem e história da paróquia são benedito, bem como os parocos e
          diaconos que por ela passaram, motivação de sua criação, bispo que a elevou a “paróquia”.
        </p>
      </section>
    </div>
  </div>
</section>