.logotipo {
  display: flex;
  align-items: center;
  gap: 1rem;

  > .logo {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    > img {
      width: 100%;
      height: 100%;
    }
  }

  > .brand {
    > img {
      height: 5rem;
    }
  }
}
