<footer>
  <div class="footer-wrapper">
    <div class="footer-header">
      <app-logo variant="footer" />
    </div>
    <div class="footer-content">
      <div class="footer-addresses">
        <div class="footer-address">
          <h2>Matriz São Benedito</h2>
          <p>Rua Maria Abadia Mamede, 303</p>
          <span>Planalto, Uberlândia - MG</span>
        </div>
        <div class="footer-address">
          <h2>Comunidade Sant'Ana</h2>
          <p>Rua Rio Jaguaribe, 99</p>
          <span>Mansour, Uberlândia - MG</span>
        </div>
      </div>
      <div class="footer-social-media">
        <a href="https://instagram.com/paroquiasaobenedito_udii/" target="_blank" rel="noopener" class="social-media">
          <img src="assets/instagram.svg" alt="Instagram" />
          Siga-nos no Instagram
        </a>
        <a href="https://facebook.com/profile.php?id=100089193725394" target="_blank" rel="noopener"
          class="social-media">
          <img src="assets/facebook.svg" alt="Facebook" />
          Curta-nos no Facebook
        </a>
      </div>
    </div>
  </div>
</footer>
