.horario-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  color: var(--text-primary);
  flex-wrap: wrap;
  margin-bottom: 1rem;

  @media (max-width: 525px) {
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }

  > .description, > .side {
    background-color: var(--bg-secondary);
    border-radius: var(--border-radius);
    min-height: 24rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    > h2 {
      font-size: var(--font-lg);
    }

    > h3 {
      font-size: var(--font-md);
      font-weight: 500;
      margin-top: 0.25rem;
    }

    > p {
      font-size: var(--font-sm);
      margin-top: 0.25rem;
    }
  }

  > .side {
    max-width: 20rem;
    align-items: center;
    text-align: center;

    > h3 {
      font-size: var(--font-sm);
    }

    > img {
      width: 17rem;
      height: 17rem;
      text-align: center;
      border-radius: var(--border-radius);
    }

    @media (max-width: 525px) {
      max-width: 100%;
      margin: 0 1.5rem;
      > img {
        width: 24rem;
        width: 100%;
        height: 22rem;
        border-radius: var(--border-radius);
      }
    }


    > h2 {
      margin-top: 1rem;
    }

    > span {
      margin-top: 1.5rem;
      text-align: center;
    }
  }

  > .description {
    min-width: 20rem;
    flex: 1;

    @media (max-width: 525px) {
      max-width: 100%;
      margin: 0 1.5rem;
    }

    > p {
      margin-top: 1rem;
    }

    > .horarios {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      > h2 {
        font-size: var(--font-md);
      }

      > .hora {
        display: flex;
        width: 100%;
        gap: 1rem;
        margin-left: 1rem;
        > p {
          font-size: var(--font-sm);
        }
      }
    }
  }
}
