<div class="carousel-wrapper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let item of slides">

        {{setCurrentItem(item)}}
        <a [href]="urlSanitization(item.url)" *ngIf="item.type === 'image'" target="_blank" rel="noreferrer noopener">
          <img [src]="urlSanitization(item.url)" [alt]="item.text">
        </a>
        <video *ngIf="item.type === 'video'" controls>
          <source [src]="urlSanitization(item.url)" type="video/mp4">
          Este navegador não tem suporte para vídeos.
        </video>
      </div>
    </div>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <div class="swiper-pagination"></div>
  </div>
</div>