<app-layout title="Avisos e Comunicados">
  <form class="notices">
    <div class="form-item">
      <app-input
        id="title"
        title="Título do aviso/comunicado"
        label="Título do comunicado ou aviso"
        type="text"
        placeholder="Título do comunicado ou aviso"
      />
      <app-input
        id="description"
        title="Descrição do aviso/comunicado"
        label="Descrição do comunicado ou aviso"
        type="text"
        placeholder="Descrição do comunicado ou aviso"
        textarea="true"
      />
    </div>
    <div class="form-item">
      <app-button content="Cadastrar aviso"/>
    </div>
  </form>
</app-layout>
