<h1 class="patrons-title">Padroeiros da paróquia</h1>

<div class="patrons">
  <div class="patron">
    <h2>Matriz São Benedito</h2>
    <img src="https://files.adiel.dev/sb-fachada.webp" alt="Fachada da Matriz São Benedito" />

    <p><span>Benedito</span> é o padroeiro da matriz paroquial. O cozinheiro, filho de escravos e frade, hoje é o nosso
      <span>santo</span> protetor.<br /><br />

      Benedito foi educado por seus pais na fé cristã. Quando menino, cuidava das ovelhas e sempre aproveitava para
      rezar o Rosário, ensinado por sua mãe.<br /><br />

      Glorioso São Benedito, grande confessor da fé, com toda a confiança venho implorar a vossa valiosa proteção. Vós,
      a quem Deus enriqueceu com dons celestes, consegui-me as graças que ardentemente desejo, para maior glória de
      Deus. Confortai o meu coração nos desalentos.<br /><br />

      Fortificai minha vontade para cumprir bem os meus deveres. Sede o meu companheiro nas horas de solidão e
      desconforto. Assisti-me e guiai-me na vida e na hora da minha morte, para que eu possa bendizer a Deus nesse mundo
      e gozá-lo na eternidade. Com Jesus Cristo, a quem tanto amastes. Assim seja, amém.
      <br />
      <br />
    </p>
  </div>
  <div class="patron">
    <h2>Comunidade São Joaquim e Sant'Ana</h2>
    <img src="https://files.adiel.dev/sa-fachada-02.webp" alt="Fachada da Matriz São Benedito" />

    <p><span>Joaquim e Ana</span> avós de nosso Salvador e Senhor Jesus Cristo são nossos <span>santos</span>
      protetores.<br /><br />
      Ó Beatíssimos pais da Mãe de Deus, São Joaquim e Santa Ana, nós vos saudamos e bendizemos com devoção e amor.

      Alegramo-nos de todo o coração pela vossa glória e por aquele sublime privilégio pela qual Deus vos escolheu para
      serdes os pais da Mãe de Deus, Maria Santíssima.<br /><br />

      Rogai por nós a Jesus e a Maria para que nós os agrademos em tudo. Tende piedade de nós como os pais têm de seus
      filhos. Nós vos pedimos do fundo do coração para que intercedeis ao vosso divino Neto para que nos ajude na nossa
      caminhada e ilumine os nossos espíritos.<br /><br />

      Sede nossos consoladores na vida e na morte. Assisti-nos na nossa última agonia, para que dignamente recebamos os
      santos sacramentos da Igreja e, partindo deste mundo com o coração contrito, possamos chegar ao céu.
    </p>
  </div>
</div>
