<div class="gallery-lightbox-container">
  <div class="gallery">
    <div *ngFor="let item of data.slice(0, 5); let i=index" class="gallery-item">
      <img (click)="onPreviewItem(i)" *ngIf="item.type === 'image'" [src]="item.source" [alt]="item.alternativeText">
      <video (click)="onPreviewItem(i)" *ngIf="item.type === 'video'" preload="metadata">
        <source [src]="item.source">
      </video>
    </div>
  </div>
  <button (click)="onPreviewItem(0)" class="preview-all">Ver tudo</button>

  <div *ngIf="showMask" class="lightbox">
    <span *ngIf="showCount" class="count">{{currentIndex + 1}}/{{totalItemsCount}}</span>
    <button (click)="onClosePreviewItem()" *ngIf="previewItem" class="close-button">
      <i class="far fa-times"></i>
    </button>
    <button (click)="onLoadPreviousPreviewItem()" *ngIf="controls" class="button-lightbox-carousel button-previous">
      <i class="far fa-arrow-circle-left icon-lightbox-carousel icon-previous"></i>
    </button>
    <button (click)="onLoadNextPreviewItem()" *ngIf="controls" class="button-lightbox-carousel button-next">
      <i class="far fa-arrow-circle-right icon-lightbox-carousel icon-next"></i>
    </button>
    <div class="lightbox-item">
      <img *ngIf="currentLightboxItem.type === 'image'" [src]="currentLightboxItem.source"
        [alt]="currentLightboxItem.alternativeText">
      <video *ngIf="currentLightboxItem.type === 'video'" controls preload="metadata">
        <source [src]="currentLightboxItem.source">
      </video>
    </div>
  </div>
</div>
